<!DOCTYPE html>
<html lang="en" th:replace="~{shared/_layout::layout('Delete Car',~{::div#palidhje}, null, null)}">

<div id="palidhje">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/cars">Cars</a></li>
                <li class="breadcrumb-item active">Delete Car</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <p>Welcome to delete car page!</p>
        </div>
        <div class="container" th:object="${carDto}">
            <div class="row">
                <div class="col-lg-6">

                    <th:block th:replace="~{cars/_viewOrDelete::viewOrDeleteForm(${carDto},@{/cars/{id}/delete(id=${carDto.id})})}"></th:block>

                </div>
            </div>
        </div>
    </section>

</div><!-- End #main -->


</html>