<!DOCTYPE html>
<html lang="en" th:replace="~{shared/_layout::layout('List of Cars',~{::div#palidhje}, null, null)}">

<div id="palidhje">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Cars</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="col m-2">
            <a href="/cars/new" class="btn btn-primary">
                <i class="bi bi-plus"></i>
                New Car</a>
        </div>
        <div class="container bg-white">

            <div class="card">
                <div class="card-body">
                    <table class="table table-md">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Vin</th>
                            <th scope="col">Model Type</th>
                            <th scope="col">Price</th>
                            <th scope="col">Fuel Type</th>
                            <th scope="col">Transmission Type</th>
                            <th scope="col">(action)</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="car:${cars}">
                                <td th:text="${car.id}"></td>
                                <td th:text="${car.vin}"></td>
                                <td th:text="${car.model}"></td>
                                <td th:text="${car.price}"></td>
                                <td th:text="${car.fuelType}"></td>
                                <td th:text="${car.transmissionType}"></td>
                                <td>
                                    <a th:href="@{/cars/{id}/view(id=${car.id})}" class="btn btn-primary">View</a>
                                    <a th:href="@{/cars/{id}/edit(id=${car.id})}" class="btn btn-primary">Edit</a>
                                    <a th:href="@{/cars/{id}/delete(id=${car.id})}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>

</div>


</html>