<!DOCTYPE html>
<html lang="en" th:replace="~{shared/_layout::layout('Home Page',~{::div#palidhje}, null, null)}">

<div id="palidhje">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <p>Welcome to test page!</p>
        </div>
    </section>

</div><!-- End #main -->


</html>